{% extends 'ThreeLineDiary/base.html' %}

{% block content %}
<div class="container">
<div class="row">

      <div class="first-left p-5 col-md-6 col-sm-12">
        <h1>3行日記</h1>
        <br>
        <p>ハーバード大学の心理学研究者、ショーン・エイカーによると</p>
        <p>「今日起こった３つの良いこと」を記録する作業を一週間続けるだけで、
        幸福度が高くなり落ち込むことも少なくなるといいます。</p>
      </div>

      <div class="first-right p-5 col-md-6 col-sm-12">
        <img src="/images/diary.png" alt="Top1" class="img-fluid">
      </div>

    </div>
    <div class="row">

      <div class="second-left p-5 col-md-6 col-sm-12">
        <img src="/images/niconicocircle.png" alt="Top2" class="img-fluid">
      </div>

      <div class="second-right p-5 col-md-6 col-sm-12">
        <p>このアプリは最近落ち込んでしまったり、嫌なことがあった人が</p>
        <p>少しでも早く立ち直れるように</p>
        <p>「今日起こった３つの良いこと」を日記として記録し、続けられるように意識して作りました。</p>
        <p>まずは１つだけでも自分の日記を書いてみませんか？</p>
      </div>

    </div>
</div>
{% endblock %}