{% extends 'ThreeLineDiary/base.html' %}
{% block content %}
    <!-- ログインエリア -->
    <div class="card mx-auto mb-3 mt-3 mx-3" style="max-width: 30rem;">
        <div class="card-body">
            <form action="{% url 'ThreeLineDiary:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div><!-- ログインエリアおわり -->
{% endblock %}